.titleBar {
  background-color: indigo;
  display: block;
  color: white;
  padding-left: 16px
}

.rcorner {
  border-radius: 25px;
  padding: 0px;
  box-shadow: 3px 3px 2px black;
}

.padding {
  padding-left: 10px;
  
}

.paddingRow{
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 550px;
}



.button{
  border-radius: 7px;
  color: white;
  font-weight: bold;
  background-color: indigo;
  padding: 5px 5px;
  
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}